name: DuckDB-Wasm Experimental Extension
on: [push, pull_request,repository_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash

jobs:
 duckd-wasm-extension:
    name: Experimental build for duckdb-wasm extension
    runs-on: ubuntu-22.04
    needs: linux-release-64
    env:
      extension-name: 'quack'
    steps:
    - uses: mymindstorm/setup-emsdk@v12

    - name: Setup
      shell: bash
      run: |
        git clone --recurse-submodules https://github.com/carlopi/duckdb-wasm
        cd duckdb-wasm
        git checkout WIP

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        path: 'duckdb-wasm/submodules/duckdb/extensions/'

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }} 

    - name: Build WebAssembly
      shell: bash
      run: |
        cd duckdb-wasm
        ls submodules/duckdb/extensions
        WASM_LOADABLE_EXTENSIONS=1 ./scripts/wasm_build_lib.sh relsize eh
        emcc build/relsize/eh/third_party/duckdb/src/duckdb_ep-build/extension/${{ github.event.repository.name }}/${{ extension-name }}.duckdb_extension -o ../${{ extension-name }}.extension.wasm -sSIDE_MODULE
        
    - uses: actions/upload-artifact@v3
      with:
        name: Extension
        path: |
          ${{ extension-name }}.extension.wasm
